# Dev notes
notes.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
dist/
build/

# Blender
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Testing
test_projects/
